<section class="p-fixed d-flex text-center">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Register card start -->
        <div class="login-card card-block auth-body">
          <form id="main" class="md-float-material" novalidate method="post" action="/">
            <div class="auth-box">
              <div class="row auth-heading m-b-40">
                <div class="col-md-12">
                  <h3 class="text-center text-white text-uppercase">Register</h3>
                  <h5 class="text-center text-white text-uppercase">(Corporate account)</h5>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Company Name <i class="fa fa-question-circle-o text-muted" data-toggle="tooltip" data-placement="right" title="Company name help text"></i> </label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="name" id="name">
                  <span class="messages"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Country of Incorporation <i class="fa fa-question-circle-o text-muted" data-toggle="tooltip" data-placement="right" title=".icofont-refresh"></i> </label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Company Type <i class="fa fa-question-circle-o text-muted" data-toggle="tooltip" data-placement="right" title=".icofont-refresh"></i> </label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Street Address1</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Street Address2</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">City</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">State</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Postal Code</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Corporate Email Address <i class="fa fa-question-circle-o text-muted" data-toggle="tooltip" data-placement="right" title=".icofont-refresh"></i> </label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Password <i class="fa fa-question-circle-o text-muted" data-toggle="tooltip" data-placement="right" title=".icofont-refresh"></i> </label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label text-left required">Confirm Password</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
                <span class="col-sm-12 col-form-label text-left required">By clicking "Register" below, you are agreeing to the LegalFAB <br><a href="#" data-toggle="modal" data-target="#terms_conditions">Terms and Conditions</a> and <a href="#" data-toggle="modal" data-target="#privacy_policy">Privacy Policies</a></span>
              <div class="row m-t-30">
                <div class="col-md-6 offset-3">
                  <button type="submit" class="btn btn-primary btn-md btn-block text-center m-b-20">Register</button>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
  <app-terms-conditions></app-terms-conditions>
  <app-privacy-policy></app-privacy-policy>
</section>
