<nav class="navbar navbar-toggleable-md light-nav-border">
  <button class="navbar-toggler navbar-toggler-right btn" type="button" data-toggle="collapse" data-target="#navbar-border">
    <i class="icofont icofont-navigation-menu m-0"></i>
  </button>
  <a class="navbar-brand" href="#">LegalFAB</a>
  <div class="collapse navbar-collapse" id="navbar-border">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dropdown
          <i class="icofont icofont-rounded-down"></i></a>
        <ul class="navbar-varient-submenu">
          <li><a href="">Action</a></li>
          <li><a href="">Another Action</a></li>
          <li><a href="">Something Else</a></li>
          <li><a href="">New Page</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>-->
    </ul>
    <form class="form-inline">
      <div class="nav-item">
        <a href="">
          <img class="img-40" src="assets/images/clubs-team/Manchester-United.png" alt="User-Profile-Image">
          <span class="m-l-10 m-r-10">Hello, Manchaster United</span>
          <i class="icofont icofont-gear"></i>
        </a>
        <ul class="navbar-varient-submenu profile-sub-menu">
          <li>
            <a href="">
              <i class="icon-settings"></i> Settings
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon-user"></i> Profile
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon-envelope-open"></i> My Messages
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon-logout"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</nav>
