<section class="login p-fixed d-flex text-center">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body">
          <form class="md-float-material">
            <div class="auth-box">
              <div class="row auth-heading m-b-40">
                <div class="col-md-12">
                  <h3 class="text-center text-white">SIGN IN</h3>
                </div>
              </div>
              <div class="input-group input-group-lg">
                <input type="email" class="form-control" name="email" placeholder="Corporate Email Address">
                <span class="md-line"></span>
              </div>
              <div class="input-group input-group-lg">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-30">
                <div class="col-md-6 offset-3">
                  <button type="button" class="btn btn-primary btn-md btn-block text-center m-b-20">Sign in</button>
                </div>
              </div>
              <div class="col-sm-12 text-center">Forgot your password? <a href="#"> Click here</a></div>
              <div class="col-sm-12 text-center">Don't have and account? <a href="#"> Register here</a></div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
