<section class="login p-fixed d-flex text-center">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Email verification card start -->
        <div class="login-card card-block auth-body">
          <form class="md-float-material">
            <div class="auth-box">
              <div class="row auth-heading m-b-40">
                <div class="col-md-12">
                  <h3 class="text-center text-white text-uppercase">Account Verification</h3>
                </div>
              </div>
              <div id="flowBoxes">
                <div class="right active">Corporate Email</div>
                <div class="left right">Business Information</div>
              </div>
              <div class="col-sm-12 text-center m-b-15">To verify oyur account, please enter the <br> the <strong><em>verification code</em></strong> that we have sent to your<br>email address.  </div>
              <div class="input-group input-group-lg col-sm-10 offset-1">
                <input type="password" class="form-control" name="password" placeholder="Enter verification code">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-30">
                <div class="col-md-6 offset-3">
                  <button type="button" class="btn btn-primary btn-md btn-block text-center m-b-20">Verify account</button>
                </div>
              </div>

              <div class="col-sm-12 text-center">Did not receive verification code? <a href="#" class="text-underline"> Click here</a></div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Email verification card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
