<!-- Menu aside start -->
<div class="main-menu">
  <div class="main-menu-content">
    <ul class="main-navigation">
      <li class="nav-item single-item has-class">
        <a href="form-masking.html">
          <i class="icofont icofont-home"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item single-item">
        <a href="form-masking.html">
          <i class="icofont icofont-notepad"></i>
          <span>Workspace</span>
        </a>
      </li>
      <li class="nav-item single-item">
        <a href="form-masking.html">
          <i class="icofont icofont-document-folder"></i>
          <span>Assets</span>
        </a>
      </li>
      <li class="nav-item single-item">
        <a href="form-masking.html">
          <i class="icofont icofont-file-document"></i>
          <span>Documents</span>
        </a>
      </li>
      <li class="nav-item single-item">
        <a href="form-masking.html">
          <i class="icofont icofont-notification"></i>
          <span>Notifications</span>
        </a>
      </li>

    </ul>
  </div>
</div>
<!-- Menu aside end -->
